.about-showcase {
  height: 75%;
}

.about-showcase .container {
  height: 100%;
  overflow: auto;
}

.carousel-showcase {
  height: 80%;
}

.carousel-showcase .container {
  height: 100%;
  /*width: 70%;*/
overflow: auto;
}